{% extends "website/base.html" %}
{% load static %}
{% block content %}
<div class="container vertical-center">
    <div class="row">
        <div class="col-md-8 card item left-section">
            <h2 class="section-head">
                {{sections.0.section_name}}
            </h2>

            <p class="section-blurb">
                {{sections.0.section_blurb}}
            </p>

            <ul>
                {% for interest in interests %}
                <li class="unordered">
                    {{interest}}
                </li>
                {% endfor %}
            </ul>

            <h2 class="section-head">
                {{sections.1.section_name}}
            </h2>

            <p class="section-blurb">
                {{sections.1.section_blurb}}
            </p>

            <ul>
                {% for project in projects %}
                    <li class="unordered">
                        {{project}}
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-md-3 offset-md-1 card item right-section">
            <h1 class="my-first-name">
                Ian
            </h1>
            <h1 class="my-last-name">
                Denegri
            </h1>
            {% for social in socials %}
                <a href="{{social.url}}">
                    <img src="{{social.image.url}}" height="42" width="42">
                    </img>
                </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}