{% extends "website/base.html" %}
{% load static %}
{% block content %}
    <body style="background: url('{% static 'website/img/myback.png' %}')">
    <div class="container">
        <div class="row">
            <div class="col-8 card about-me">
                <h2 class="section-head">
                    {{sections.0.section_name}}
                </h2>

                <p class="section-blurb">
                    {{sections.0.section_blurb}}
                </p>

                <ul>
                    {% for interest in interests %}
                    <li class="unordered">
                        {{interest}}
                    </li>
                    {% endfor %}
                </ul>

                <h2 class="section-head">
                    {{sections.1.section_name}}
                </h2>

                <p class="section-blurb">
                    {{sections.1.section_blurb}}
                </p>

                <ul>
                    {% for project in projects %}
                        <li class="unordered">
                            {{project}}
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-4 card contact-info">
                <h1 class="my-name">
                    Ian Denegri
                </h1>

                <ul>
                    {% for social in socials %}
                    <li class="unordered">
                        <a href="{{social.url}}">
                            {{social}}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    </body>
{% endblock content %}