html, body {
  height: 100%;
  width: 100%;
}

.navbar {
  background-color: #23415C;
  font-size: 1.2em;
}

.navbar ul {
  padding: 1%;
}

.navbar-brand {
  min-height: 55px;
  padding: 0% 15px 5px;
}

#my_logo{
  max-height: 75px;
  padding: 10px 15px 0;
}

.navbar-default .navbar-nav li a{
  color: #D5D5D5;
}

.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a.active {
  color: #FFF;
}

#home {
  background: url(media/myback.png) no-repeat center center fixed;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  background-size: cover;
}

.landing-text {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.landing-text h1 {
  font-size: 500%;
  font-weight: 700;
}

.padding {
  padding: 80px 0;
}

.padding img {
  width: 100%;
}

#fixed {
  background: url(media/background.jpg) no-repeat center center fixed;
  display: table;
  height: 60%;
  position: relative;
  width: 100%;
  background-size: cover;
}

footer {
  width: 100%;
  background-color: #23415C;
  padding: 15px 10px;
	margin-top: 80px;
  color: #FFF;
  text-align: left;
}
/* Contact form area */
.footer-distributed .footer-left {
  display: inline-block;
  vertical-align: top;
}

.footer-distributed .footer-left p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-left p a{
	color:  #5383d3;
	text-decoration: none;;
}

.footer-distributed .footer-left p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.fa {
  padding: 15px;
  font-size: 25px;
  color: #FFF;
}
.fa:hover {
  color: #D5D5D5;
  text-decoration: none;
}

@media (max-width: 768px) {
  .landing-text h1 {
    font-size: 300%;
  }
  .fa {
    font-size: 20px;
    padding: 10px;
  }
}
