body {
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    flex-direction: column;
    align-items: center;
    height: 100%;
    color: #333333;
    justify-content: center;
    line-height: 17px;
  }

.item {
  padding: 20px;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

.left-section {
  min-width: 500px;
}

.right-section {
  min-width: 300px;
  max-width: 400px;
  margin: 30px;
  padding: 30px 55px 30px 55px;
  align-items: center;
  justify-content: center;
}

.unordered {
  padding: 3px
}

.social-icon {
  padding: 5px;
}